/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/*
  ========================================
  Main Styles
  ========================================
*/
    
html{
    font-family:"Avenir Next",sans-serif;
                -ms-text-size-adjust:100%;
                -webkit-text-size-adjust:100%
}

body {
    margin: 0;
    max-width: 100%;
}

header, nav, section, footer {
    display: block;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
}
h1 {
    font-size: 2.625rem;
    margin-bottom: 2rem;
}
h2 {
    font-size: 1.1rem;
    margin: 1.25rem 0;
}

p {
    display: block;    
}

p:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 900px) {
    body {
        font-size: 14px;
    }   
}

@media screen and (max-width: 768px) {
    body {
        font-size: 12px;
    }   
}


*:before, *:after {
    box-sizing: border-box;
}


/*
  ========================================
  Header  and NAV
  ========================================
*/

.main-header {
        background-color: #0B2137;	
        height: 100px;
        margin-bottom: 0;
        border-width: 0 0 1px;
        border-image: linear-gradient(90deg, rgba(255,255,255,0), rgba(255,255,255,0.15) 50%, rgba(255,255,255,0)                       100%) 5%;

}

.wrapper {
    max-width: 61.250rem;
    margin: 0 auto;
    
}



.logo {
    font-size: 20px;
    display: inline-block;
    float: left;
    vertical-align: middle;
    margin-top: 50px;
    margin-left: 10px;
}


.nav {
    display: inline-block;
    margin-right: 10px;
    margin-top: 50px;
    float: right;    
   
}


.nav li {
    display: inline-block;
    font-size: 0.7rem;
    font-weight: 200;
    margin-left: 30px;
    padding: 5px;
}


.nav-toggle{
    display: none;
}



/*
  ========================================
  Clearfix
  ========================================
*/
.group:before,
.group:after {
    content:"";
    display: table;
}

.group:after {
    clear:both;
}

.group {
    clear: both;
    *zoom:1;
}


/*
  ========================================
  Links
  ========================================
*/

.nav a {
    color: rgba(255, 255, 255, 0.5);
}

.nav a:hover {
    color: #CED2D3;
}

.highlight {
    color: rgba (255,255,255,0.9);
}



.name {
    color: #fff;
}
.name:before {
    width: 1.75rem;
    height: 2.0625rem;
    background: url("../images/bohemian_logo.png") no-repeat left top;
    background-size: contain;
    vertical-align: text-top;
    position: relative;
    top: -0.1875rem;
    display: inline-block;
    content: ' ';
    margin-right: 5px;
}

.version-3 {
    color:#f69d52;
    font-size: 65%;
    position: relative;
    vertical-align: baseline;
    top:-.40em;
    left:-0.65ex;
}

.buy {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;

}

.buy a {
    padding: 10px;
    color: #D2FBFF;
}

.section-footer a, {
    color: #3795FF;
}

.col-1-2 a {
    color: #3795FF;
}

.section-header a {
    color: #3079C0;
     
}

.main-footer a {
    color: #207cdf;
}

/*
  ========================================
  Main Wrapper/banner
  ========================================
*/

.first {
    width: 100%;
    background-color: #0C233B;
    padding-top: 2rem;
    padding-bottom: 150px;
    background-image: url("http://bohemiancoding.com/static/css/images/home/rainbow.svg");
    background-position: center bottom;
    background-repeat:no-repeat;
    
}

.masthead {
    text-align: center;
    font-size: 1.375rem;
    
}

.section-header {
    max-width: 80%;
    margin: 0 auto;
    color: #AAB2BA;
    line-height: 33px;
    font-weight:300;
}

.section-header h1 {
    color: #fffff3;
    font-size: 3.25rem;
    line-height: 1.1;
    
}





.action-buttons {
    margin-top: 2.5em;
    font-size: 0.9em;
}

.action-buttons button {
    margin-left: 25px;
}

.buy-now {
    -moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
    font-family:"avenir next", sans-serif;
	font-size:14px;
    font-weight: 400;
    background-color:#3795FF;
	color:#f3ffff;
    border:1px solid #3795FF;
    padding:10px 20px;

}

.free-trial {
    -moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	display:inline-block;
	cursor:pointer;
    font-family:"avenir next", sans-serif;
	font-size:14px;
    font-weight: 400;
    display:inline-block;
    background-color: transparent;
    color:#357EB0;
    font-weight: 400;
    border:1px solid #164272;
    background-image:url('../images/Rectangle%2040%20+%20Triangle%202.png');
    background-repeat: no-repeat;
    background-position:15% 50%;
    padding:10px 20px 10px 40px;
}

.section-footer {
    margin-top: 2.8125rem;
    padding-top:2.8125rem;
    font-size: 0.9rem;
    font-weight:300;
    line-height: 2rem;
    color: rgba(255,255,255,0.65);
}

.margin-top {
    margin-top: 1rem;
}


.diamond img {
    position: absolute;
    left: 50%;
    margin-left: -142px;

}

/*
  ========================================
  2 columns
  ========================================
*/

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.why  {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url("../images/Line_line.png");
    background-repeat:no-repeat;
    background-position: center;
    background-size: 40px 40px;
}



.col-1-2 {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-left:45px;
    margin-right:45px;
    
    

}

.col-1-2 h2{
    font-size: 1.4rem;
    line-height: 1.2em;
    color: rgb(36, 41, 50);
    
}

.col-1-2 p {
    color: #434B69;
    line-height: 1.5rem;
}

/*
  ========================================
  Hero container
  ========================================
*/

.herocontainer img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}


/*
  ========================================
  Section Quotes/Extras
  ========================================
*/

.extra {
    padding: 2.8125rem 0;
    position: relative;
}

.section2-header {
    display: block;
    margin: 0 auto;
    text-align: center;
    width: 91.3265306%;
    overflow:hidden;
    
        
}

.section2-header h1 {
    font-size: 2.625rem;
    font-weight: 200;
    color: #242932;
}

.section2-header h1 b {
    font-weight: 400;
}


.testimonials {
  position: relative;
  margin: 0 auto;
  padding-bottom: 2.875rem;
  width: 90%;
  color: #373d48;
    
}

.col-1-3 {
    width: 30%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5em;
    
}

.col-1-3 p {
    font-style:italic;
    line-height: 1.8rem;
    
}

.col-1-3 footer {
    position: absolute;
    bottom: -1rem;
}

.col-1-3 footer a {
    color: #207cdf;
    font-style: italic;
}

.col-1-3 footer img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    vertical-align:middle;
}


/*
  ========================================
  Company Users
  ========================================
*/

.company-users {
    text-align: center;
    color: #8F9CB3;
}

.company-users h2 {
    font-size: .65rem;
    text-transform: uppercase;
}

.company-logos li{
    display: inline-block;
    padding: 1.5rem;
    
}


/*
  ========================================
  Subscribe
  ========================================
*/

.subscribe {
    text-align:center;
    margin-top: 75px;
    padding-top: 15px;
    background: #061524;
    color: #fff;
}

.subscribe h2 {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: -0.025em;
}

.subscribe p {
    margin: 2rem;
    opacity: 0.65;
    line-height: 1.9em;
    font-weight:200;
}

.subscribe a {
    color: #3795FF;
}

.subscribe a:hover {
    color: #238CF6;
}

.email input {
    display: inline-block;
    padding: .625em 1.5625em;
    border-radius: 10rem;
    border: 1px solid rgba(62,130,208,0.4);
} 

.sign-up {
    background-color: #0B1F36;
    
}

.submit {
    background-color: #207cdf;
    color: #fff;
}

.disclaimer {
    font-size: 12px;
    line-height: 1.8rem;
    padding-bottom: 2rem;
}


/*
  ========================================
  Awards
  ========================================
*/


.awards {
    text-align: center;
    background-color: #f6f8f9;
    
}

.awards li {
    display: inline-block;
    margin: 1.3rem;
}



/*
  ========================================
  Purchase
  ========================================
*/


.purchase {
    text-align: center;
    margin-top: 30px;
}


.row {
    padding: 20px;
    
}

.second h2 {
    font-weight:400;
    font-size: 1.5rem;
}

.second p {
    font-size: .857rem;
    color: #373d48;
}

.third {
    margin-top: 40px;
}

@media screen and (min-width: 600px){
    .left-float, .first-item, .second, .third {
        display: inline-block;
        
    }
    .left-float {
        display: inline-block;
        float: left;
             
    }
    .first-item, .second {
        vertical-align: middle;
    }
    
    .second {
        text-align: left;
        
    }
    
    .third {
       float: right;
       margin-top: 5%;
        
    }
}


/*
  ========================================
  Main-Footer
  ========================================
*/
.main-footer {
    padding: 20px 20px 40px 20px;
    background-color: #f6f8f9;
}
.main-footer ul{
    text-align: right;
    font-size: 1rem;
    
}

.main-footer ul li {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;

}

.main-footer nav {
    padding: 10px;
     
}

.copyright {
    font-size: 0.8rem;
    color: #373d48;
    float: left;
    margin-top: 10px;
    
}

@media screen and (min-width: 650px){
     .main-footer nav li  {
        display: inline-block;
    }
}